*{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    list-style: none;
}
.m-center {
    width: 1024px;
    margin: auto;
}

.head-div {
    display: flex;
}
.head-div nav {
    flex: auto;
}
.nav-top ul{
    display: flex;
}
.nav-top ul li {
    flex: 1;
}

.head-div .logo {
    background-image: url("../../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 100px;
}
.center-div {
    display: flex;
}
.center-div .left-div {
    width: 200px;
}
.center-div .content-div {
    flex: auto;
}